body {
    background: url('../img/cielo.jpg');
    background-attachment: fixed;
    background-size: 100%;
}

#logo {
    background: rgb(0, 0, 100);
}

#menu {
    background: rgb(0, 0, 32);
}

#menu ul li:hover {
    background: rgb(0, 0, 100);
}

h2,
h3 {
    color: rgb(0, 0, 32);
    text-shadow: 0px 0px .5px darkblue;
}

.boton-mas {
    background: rgb(0, 0, 100);
}

.boton-mas:hover {
    background: rgb(0, 0, 32);
}

#sidebar h4 {
    color: rgb(0, 0, 32);
}

form input[type="submit"],
#salir,
.subir,
#enviar_mail {
    background: rgb(0, 0, 200);
}

form input[type="submit"]:hover,
.subir:hover,
#salir:hover,
#enviar_mail:hover {
    background: rgb(0, 0, 100);
}

.ui-accordion-header {
    background: rgb(0, 0, 200);
    color: white;
}

.ui-accordion-header-collapsed {
    color: black;
}

#reloj:hover {
    color: rgb(0, 0, 100);
    text-shadow: 0 0 20px rgb(40, 40, 200);
}