body {
    background: url('../img/hojas.jpg');
    background-attachment: fixed;
    background-size: 100%;
}

#logo {
    background: rgb(0, 73, 0);
}

#menu {
    background: rgb(23, 32, 23);
}

#menu ul li:hover {
    background: rgb(0, 73, 0);
}

h2,
h3 {
    color: rgb(23, 32, 23);
    text-shadow: 0px 0px .5px darkgreen;
}

.boton-mas {
    background: rgb(0, 73, 0);
}

.boton-mas:hover {
    background: rgb(23, 32, 23);
}

#sidebar h4 {
    color: rgb(23, 32, 23);
}

form input[type="submit"],
.subir,
#salir,
#enviar_mail {
    background: rgb(0, 114, 0);
}

form input[type="submit"]:hover,
.subir:hover,
#salir:hover,
#enviar_mail:hover {
    background: rgb(0, 73, 0);
}

.ui-accordion-header {
    background: rgb(0, 114, 0);
    color: white;
}

.ui-accordion-header-collapsed {
    color: black;
}

#reloj:hover {
    color: rgb(0, 73, 0);
    text-shadow: 0 0 20px rgb(0, 200, 0);
}